<!DOCTYPE html>
<html>
<title></title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/index.css" />
    
</head>

<body>
    <div class="grid">
        <div class="homeScreen">
            <div class="menuScreen">
                <div class="formScreen">
                    <div class="formTitle">
                        Contact us for Tour and packages
                    </div>
                    <div class="optionBox">
                        <div class="options">Flight</div>
                        <div class="options">Car</div>
                        <div class="options">Hotels</div>
                        <div class="options">Holidays</div>
                        <div class="options">Visa</div>
                        <div class="options">Customize</div>

                    </div>
                    <div class="infoBox">
                        <div class="input-group">
                            <label> Name</label>
                            <input type="text" class="name">
                        </div>
                        <div class="input-group">
                            <label>Enter your mobile no.</label>
                            <input type="text" class="mobile">
                        </div>
                        <div class="input-group">
                            <label>Email Id</label>
                            <input type="email" class="email">
                        </div>
                        <div class="input-group">
                            <label> Origin</label>
                            <input type="text" class="origin">
                        </div>
                        <div class="input-group">
                            <label>Destination</label>
                            <input type="text" class="destination">
                        </div>
                        <div class="input-group">
                            <label>Month of travel</label>
                            <input type="text" class="month">
                        </div>
                        <div class="input-group">
                            <input type="submit" class="btn">
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo"></div>
            <div class="menu">
                <div class="menuBtn">
                    <div class="firstBar"></div>
                    <div class="secondBar"></div>
                    <div class="thirdBar"></div>
                    <div class="fourthBar"></div>
                </div>
            </div>
        </div>
        <div class="contentScreen">
            <div class="topContainer">
                <div class="luxuriousBox">
                    <div class="luxuriousOverlay"></div>
                </div>
                <div class="honeymoonBox">
                    <div class="honeymoonOverlay"></div>
                </div>
                <div class="advantureBox">
                    <div class="advantureOverlay"></div>
                </div>
                <div class="familyBox">
                    <div class="familyOverlay"></div>
                </div>
                <div class="weekendBox">
                    <div class="weekendOverlay"></div>
                </div>
                <div class="backpackingBox">
                    <div class="backpackingOverlay"></div>
                </div>
               <div class="packageOptions"></div>
            </div>
            <div class="midContainer">
                <div class="midLeft"></div>
                <div class="midRight">
                    <div class="midTitle">
                        Discover your
                        <br> true character
                    </div>
                    <div class="mid-lineWrap"></div>
                    <div class="midContent">
                        When we fall down we get up. When we feel tired we keep going. And if someone is struggling we help them. Match yourself
                        against a series of unforgettable experiences and unique challenges. It may hurt a little!
                    </div>
                </div>
                <div class="midBottom"></div>
            </div>
            <div class="bottomContainer">
                <div class="bottomLeft">
                    <div class="bottomTitle">
                        Discover your
                        <br> true character
                    </div>
                    <div class="bottom-lineWrap"></div>
                    <div class="bottomContent">
                        When we fall down we get up. When we feel tired we keep going. And if someone is struggling we help them. Match yourself
                        against a series of unforgettable experiences and unique challenges. It may hurt a little!
                    </div>
                </div>
                <div class="bottomRight"></div>
                <div class="bottomBottom"></div>
            </div>
            <div class="serviceContainer">
                <div class="serviceBox"></div>
                <div class="serviceBox"></div>
                <div class="serviceBox"></div>
                <div class="serviceBox"></div>
                <div class="serviceBox"></div>
                <div class="serviceBox"></div>
                <div class="serviceBox"></div>
                <div class="serviceBox"></div>
            </div>

        </div>
        <div class="footerScreen">
            <div class="infoBox">

                <div class="input-group">
                    <label>Name</label>
                    <input type="text" class="Name">

                </div>
                <div class="input-group">
                    <label>Enter mobile no.</label>
                    <input type="text" class="PhoneNumber">

                </div>
                <div class="input-group">
                    <label>Email Id</label>
                    <input type="text" class="Email">

                </div>
                <div class="input-group">
                    <label>Origin</label>
                    <input type="text" class="Origin">

                </div>
                <div class="input-group">
                    <label>Destination</label>
                    <input type="text" class="Destination">

                </div>
                <div class="input-group">
                    <label>Month of travel</label>
                    <input type="text" class="TravelMonth">

                </div>
            </div>
            <div class="contactBox"></div>
        </div>
    </div>

    <script id="entry-template" type="text/x-handlebars-template">
        <div>
            {{text}}
        </div>

    </script>
    <script  src="../public/js/handlebars-v4.0.11.js"></script>
    <script language="JavaScript" type="text/JavaScript" src="../public/js/jquery.min.js"></script>
    <script language="JavaScript" type="text/JavaScript" src="../public/js/index.js"></script>
    
</body>
</html>